/* body{
    background-color: red !important;
} */

header {
  background: rgb(8,2,122);
  background: linear-gradient(180deg, rgba(8,2,122,1) 0%, rgba(44,45,45,1) 0%, rgba(18,42,60,1) 37%, rgba(9,89,149,1) 100%);
    color: white;
}

.search {
    background: rgb(2,0,36);
  background: linear-gradient(141deg, rgba(2,0,36,1) 0%, rgba(242,186,126,1) 0%, rgba(242,213,181,1) 44%, rgba(242,232,210,1) 77%, rgba(242,231,215,1) 100%);

}

.display {
  
}

.display-child {
}

#today {
  width: 50%;
  padding: 20px;
  border-radius: 20px;

  background: rgb(2,0,36);
  background: linear-gradient(141deg, rgba(2,0,36,1) 0%, rgba(242,186,126,1) 0%, rgba(242,213,181,1) 44%, rgba(242,232,210,1) 77%, rgba(242,231,215,1) 100%);

  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 1);
}

#today h3 {
    text-transform: capitalize;
}

.five-day {
  border-radius: 10px;
  max-width: 180px;
  background-color: #565e64;
 
  background: rgb(8,2,122);
  background: linear-gradient(180deg, rgba(8,2,122,1) 0%, rgba(44,45,45,1) 0%, rgba(18,42,60,1) 37%, rgba(9,89,149,1) 100%);

  gap: 10px;
  color: white !important;
}


.five-day-row {
  display: flex !important;
  border: solid 1px white;
  flex-direction: row;

  gap: 20px;
}

.weather-search {
  border-radius: 10px !important;
  border: none !important;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}
.weather-search:focus {
  border: none;
  outline: none;
}

.input-group {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  width: 100%;
}
